<div id='page-auditoria-colaborador'>
{{> header-profile }}
  <div class='page-header-content'>
  </div>
  <form action='' class='filter' method='post'>
    <div class='input-block'>
      <label for='setor'>Selecionar atendimento</label>
      <select name='setor' id='setor'>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
      </select>
    </div>
    <div class='input-block'>
      <label for='' class='label-filtrar'>filtrar</label>
      <button type='submit'>Filtrar</button>
    </div>
  </form>
  <main>
    <header>
        <p>Todos os atendimentos</p>
        <input type="search" name="" id="" placeholder="Procurar por protocolo">
    </header>
    <div class="atd-container">
        <div class="article-atd">
            <div class="article-atd-header"></div>
            <div class="article-atd-body"></div>
            <div class="article-atd-footer"></div>
        </div>

    </div>
  </main>
  <p class='space'>Espaço adicional</p>
</div>