<div id='page-auditoria-colaborador'>
{{> header-profile }}
  <div class='page-header-content'>
  </div>
  <form action='' class='filter' method='post'>
    <div class='input-block'>
      <label for='setor'>Selecionar atendimento</label>
      <select name='setor' id='setor'>
        <option value=''>Selecione um atendimento</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
      </select>
    </div>
    <div class='input-block'>
      <label for='' class='label-filtrar'>filtrar</label>
      <button type='submit'>Filtrar</button>
    </div>
  </form>
  <main>
    <div class='atd-container'>
      <div class='article-atd'>
        <div class='article-atd-header aprovado'>
          <p class='protocolo'>20220526182635646004</p>
          <p class='atendimento'>1.2 ENVIO DE BOLETO (1)</p>
        </div>
        <div class='article-atd-body'>
          <div class='decricao'>

            <p class='atd_descricao'>
              <p class='desc'>Descrição de Abertura</p>

              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae
              reiciendis nihil exercitationem ratione autem corporis iure sunt
              voluptas vero quibusdam ad cumque, quidem odio neque maxime
              repellendus et. Incidunt, culpa?</p>
          </div>
          <div class='decricao'>

            <p class='atd_descricao'>
              <p class='desc'>Descrição de fechamento</p>

              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
              praesentium dolorem doloribus officiis, fugit deleniti repellat!
              Sapiente tempore in similique modi quidem nemo, laborum asperiores
              voluptatum itaque expedita fugiat non?</p>
          </div>

        </div>
        <div class='article-atd-footer'>
          <div>
            <p>Status</p>
            <small>Aprovado</small>
          </div>
          <a href=''>Auditar</a>
        </div>
      </div>
      <div class='article-atd'>
        <div class='article-atd-header reprovado'>
          <p class='protocolo'>20220526182635646004</p>
          <p class='atendimento'>1.2 ENVIO DE BOLETO (1)</p>
        </div>
        <div class='article-atd-body'>
          <div class='decricao'>
            <p class='atd_descricao'>
              <p class='desc'>Descrição de Abertura</p>

              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae
              reiciendis nihil exercitationem ratione autem corporis iure sunt
              voluptas vero quibusdam ad cumque, quidem odio neque maxime
              repellendus et. Incidunt, culpa?</p>
          </div>
          <div class='decricao'>

            <p class='atd_descricao'>
              <p class='desc'>Descrição de fechamento</p>

              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
              praesentium dolorem doloribus officiis, fugit deleniti repellat!
              Sapiente tempore in similique modi quidem nemo, laborum asperiores
              voluptatum itaque expedita fugiat non?</p>
          </div>

        </div>
        <div class='article-atd-footer'>
          <div>
            <p>Status</p>
            <small>Reprovado</small>
          </div>
          <a href=''>Auditar</a>
        </div>
      </div>
      <div class='article-atd'>
        <div class='article-atd-header'>
          <p class='protocolo'>20220526182635646004</p>
          <p class='atendimento'>1.2 ENVIO DE BOLETO (1)</p>
        </div>
        <div class='article-atd-body'>
          <div class='decricao'>

            <p class='atd_descricao'>
              <p class='desc'>Descrição de Abertura</p>

              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae
              reiciendis nihil exercitationem ratione autem corporis iure sunt
              voluptas vero quibusdam ad cumque, quidem odio neque maxime
              repellendus et. Incidunt, culpa?</p>
          </div>
          <div class='descricao'>
            <p class='atd_descricao'>
              <p class='desc'>Descrição de fechamento</p>

              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
              praesentium dolorem doloribus officiis, fugit deleniti repellat!
              Sapiente tempore in similique modi quidem nemo, laborum asperiores
              voluptatum itaque expedita fugiat non?</p>
          </div>

        </div>
        <div class='article-atd-footer'>
          <div>
            <p>Status</p>
            <small>Aprovado</small>
          </div>
          <a href=''>Auditar</a>
        </div>
      </div>

    </div>
  </main>
  <p class='space'>Espaço adicional</p>
</div>