<div id='page-rank'>
{{> header-simple }}

  <main>
    <div class='rank-colaboradores'>
      <div class='coluna1'>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
      </div>
      <div class='coluna1'>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gerson(atendimento)</strong>
          <p>900 pontos</p>
        </div>
        <div class='user-rank'>
          <p>1</p>
          <img src='/img/perfil.png' alt='' />
          <strong>Antonio Gersonsss de ssousa silva(atendimento)</strong>
          <p>900 pontos</p>
        </div>
      </div>
    </div>
  </main>
  <p class='space'>espaço extra</p>
</div>