<div id='page-painel'>
{{> header-profile }}
  <div class='page-header-content'>
    <div class='top-text'>
      <p>Olá, {{emoji}} {{nome}}! </p>
    </div>
  </div>

  <div class='panel-container'>
    <div class='panel-cards'>
      <div class='cards'>
        <header>
          <p>Meu bônus</p>
          <img src='/img/real.png' alt='' />
        </header>
        <strong>
          R$ 100.00
        </strong>
      </div>
      <div class='cards'>
        <header>
          <p>Meus pontos</p>
          <img src='/img/up.png' alt='' />
        </header>
        <strong>
          10000
        </strong>
      </div>
      <a href='/allrede/auditar' class='cards'>
        <header>
          <p>Auditoria</p>
          <img src='/img/lupa.png' alt='' />
        </header>
        <strong>
          Acessar auditoria
        </strong>

      </a>
    </div>
  </div>

    <div class='stats-container-t'>
    <div class='tipos-atendimentos'>
      <strong>Colaboradores com mais atendimentos</strong>
      <div class='atd-cards'>
        <p>Auditados</p>
        <p>
          Antonio Gerson
          <strong>1000</strong>
        </p>
      </div>
      <div class='atd-cards'>
        <p>Reprovados</p>
        <p>
          Antonio Gerson
          <strong>1000</strong>
        </p>
      </div>
      <div class='atd-cards'>
        <p>Aprovados</p>
        <p>
          Antonio Gerson
          <strong>1000</strong>
        </p>
      </div>
    </div>
  </div>

  <div class='space'>
    espaço
  </div>
</div>