<div id='page-login'>
  <div class='login-container'>
    <div class='logo'>
      <img src='/img/allrede_favicon.png' alt='Allrede' />
    </div>
    <div class='title'>
      <p>Sistema de Bonificação</p>
    </div>
    <div class='create_act'>
      <p>Senha ou email incorreto</p>
    </div>
    <form action='' class='form'>
      <div class='input_field'>
        <label>Email</label>
        <input
          type='text'
          class='input'
          placeholder='Digite seu email hubsoft aqui'
        />
      </div>
      <div class='input_field'>
        <label>Senha</label>
        <input
          type='password'
          class='input'
          placeholder='Digite sua senha aqui'
        />
      </div>
      <div class='btn'>
        <input type='submit' value='Entrar' class='sign_btn' />
      </div>
    </form>
  </div>
</div>