<div id='page-login'>

  <div class='hero-image'>
    <img src='/img/allrede_branco.png' alt='' />
    <p>Sistema de auditoria e gratificação</p>
  </div>
  <div class='login-container'>
    <img src='/img/allrede_favicon.png' alt='' />
    <div class='title'>
      <p>Fazer login</p>
    </div>
    <form action='' class='form'>
      <div class='input-block'>
        <input
          type='text'
          class='input'
          placeholder='Digite seu email hubsoft aqui'
        />
      </div>
      <div class='input-block'>
        <input
          type='password'
          class='input'
          placeholder='Digite sua senha aqui'
        />
      </div>
      <Button>Entrar</Button>
    </form>
  </div>

</div>