<div id='page-auditados'>
{{> header-profile }}
  <div class='page-header-content'>
  </div>

  <div class='table-atd'>
    <div class='header'>
      <p>Atendimentos reprovados</p>
      <input
        type='search'
        name='protocolo'
        id='protocolo'
        placeholder='Procurar protocolo'
      />
    </div>
    <div class='table-body'>
      <div>
        <strong>Protocolo</strong>
        <br /><br />
        <p>123456789012345</p>
      </div>
      <div>
        <strong>Tipo de atendimento</strong>
        <br />
        <br />
        <p>9. DÚVIDAS/INFORMAÇÕES GERAIS</p>
      </div>
      <div>
        <strong>Parecer</strong>
        <br /><br />
        <p>Aprovado</p>
      </div>
      <div>
        <strong>Data do Parecer</strong>
        <br /><br />
        <p>10-01-2022</p>
      </div>
      <div>
        <strong>Ação</strong>
        <br /><br />
        <button class='btnOpenModal' onclick='openModal()'>Visualizar</button>
      </div>
    </div>
  </div>

{{> modal }}

</div>