<div id='page-painel'>
  {{> header-profile }}
  <div class='page-header-content'>
    <div class="top-text">
      <p>Olá, {{emoji}} {{nome}}! </p>
    </div>
  </div>
  <div class="panel-container">
    <div class="panel-cards">
      <div class="1">1</div>
      <div class="1">2</div>
      <div class="1">3</div>
    </div>
  </div>
</div>