<div id='page-painel'>
 {{> header-profile }}
  <div class='page-header-content'>
    <div class="top-text">
        <p>Olá, {{emoji}} {{nome}}! </p>
        <div class="balance">
            <small>Meus Ganhos</small> <br>
            <span>R$ {{dinheiro}}</span>
        </div>
    </div>
  </div>
</div>