<div id='page-painel'>
{{> header-profile }}
  <div class='page-header-content'>
    <div class='top-text'>
      <p>Olá, {{emoji}} {{nome}}! </p>
    </div>
  </div>
  
  <div class='panel-container'>
    <div class='panel-cards'>
      <div class='cards'>
        <header>
          <p>Meu bônus</p>
          <img src='/img/real.png' alt='' />
        </header>
        <strong>
          R$ 100.00
        </strong>
      </div>
      <a href='/allrede/rank' class="cards">
          <header>
            <p>Rank</p>
            <img src='/img/ranking.png' alt='' />
          </header>
          <strong>
            Acessar o rank
          </strong>

      </a>
            <a href='/allrede/auditar' class="cards">
        <header>
          <p>Auditoria</p>
          <img src='/img/lupa.png' alt='' />
        </header>
        <strong>
          Acessar auditoria
        </strong>

      </a>
    </div>
  </div>
    <div class='stats-container-t'>
    <div class='tipos-atendimentos'>
      <strong>Colaboradores com mais atendimentos</strong>
      <div class='atd-cards'>
        <p>Concluídos</p>
        <p>
          Antonio Gerson
          <strong>1000</strong>
        </p>
        
      </div>
      <div class='atd-cards'>
        <p>Pendentes</p>
                <p>
          Antonio Gerson 
          <strong>1000</strong>
        </p>
      </div>
            <div class='atd-cards'>
        <p>Reprovados</p>
                <p>
          Antonio Gerson 
          <strong>1000</strong>
        </p>
      </div>
      <div class='atd-cards'>
        <p>Aguardando análise </p>
                <p>
          Antonio Gerson 
          <strong>1000</strong>
        </p>
      </div>
      <div class='atd-cards'>
        <p>Transferidos</p>
                <p>
          Antonio Gerson 
          <strong>1000</strong>
        </p>
      </div>
      <div class='atd-cards'>
        <p>Ordens de serviço</p>
                <p>
          Antonio Gerson 
          <strong>1000</strong>
        </p>
      </div>
    </div>  
  </div>
  
  <div class='stats-container'>
    <div class='pontos-chart'>
      <strong>Colaboradores com mais atendimentos - últimos 7 dias</strong>
      <canvas id='myChart'></canvas>
      <div class='botton-section'>
        <p>Total de atendimentos esta semana</p>
        <strong>100</strong>
      </div>
    </div>
    <div class='pontos-chart'>
      <strong>Colaboradores com mais Ordens de Serviço - últimos 7 dias</strong>
      <canvas id='myChart1'></canvas>
      <div class='botton-section'>
        <p>Total de atendimentos esta semana</p>
        <strong>100</strong>
      </div>
    </div>
  </div>
  <div class='stats-container'>
    <div class='pontos-chart'>
      <strong>Atendimentos mais abertos - últimos 7 dias</strong>
      <canvas id='myChart2'></canvas>
      <div class='botton-section'>
        <p>Total de atendimentos esta semana</p>
        <strong>100</strong>
      </div>
    </div>
    <div class='pontos-chart'>
      <strong>Ordens de serviços mais abertas- últimos 7 dias</strong>
      <canvas id='myChart3'></canvas>
      <div class='botton-section'>
        <p>Total de atendimentos esta semana</p>
        <strong>100</strong>
      </div>
    </div>
  </div>
  <div class='space'>
    espaço
  </div>
</div>