<div id='page-relatorio'>
{{> header-simple }}
  <div class='page-header-content'>
    <div class='top-text'>
      <p>Combine data e setor para gerar um relatório </p>
    </div>
  </div>
  <form action='' class='filter' method='post'>
    <div class='input-block'>
      <label for='setor'>Setor</label>
      <select name='setor' id='setor'>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
        <option value=''>Selecione um setor</option>
      </select>
    </div>
    <div class='input-block'>
      <label for='date'>De</label>
      <input type='date' name='date' id='date' />
    </div>
    <div class='input-block'>
      <label for='date'>Até</label>
      <input type='date' name='date' id='date' />
    </div>
    <div class='input-block'>
      <label for='' class='label-filtrar'>filtrar</label>
      <button type='submit'>Filtrar</button>
    </div>
  </form>
  <strong>Nenhum dado foi encontrado com sua pesquisa.</strong>
  <main>
    <div class='table'>
      <div class='table-header'>
        <p>Relatório de bonificação</p>
        <button>Baixar relatório</button>
      </div>
      <div class='table-section'>
        <table>
          <thead>
            <tr>
              <th>Colaborador</th>
              <th>Pontos</th>
              <th>Valor do ponto</th>
              <th>Bônus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Antonio gerson de sousa silva</td>
              <td>100</td>
              <td>R$ 0,16</td>
              <td>R$ 6,56</td>
            </tr>
            <tr>
              <td>Antonio gerson de sousa silva</td>
              <td>100</td>
              <td>R$ 0,16</td>
              <td>R$ 6,56</td>
            </tr>
            <tr>
              <td>Antonio gerson de sousa silva</td>
              <td>100</td>
              <td>R$ 0,16</td>
              <td>R$ 6,56</td>
            </tr>
            <tr>
              <td>Antonio gerson de sousa silva</td>
              <td>100</td>
              <td>R$ 0,16</td>
              <td>R$ 6,56</td>
            </tr>
            <tr>
              <td>Antonio gerson de sousa silva</td>
              <td>100</td>
              <td>R$ 0,16</td>
              <td>R$ 6,56</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </main>
  <p class='space'>Espaço adicional</p>
</div>